body{
    background-color: ghostwhite;
}
header{
    text-align: center;
    border: 10px solid gold;
    color: gold;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: cursive;
}
section{
    border: 5px solid goldenrod;
    margin: 20px;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
section h2{
    color: gold;
    text-align: center;
    border: 5px solid goldenrod;
    padding: 20px;
    margin: 30px;
    margin-right: 70%;
    font-family: cursive;
}
section article i{
    margin: 5px;
    font-size: 100px;
}
section article{
    padding: 10px;
    margin: 30px;
    background-color: goldenrod;
}
section article h3{
    text-align: center;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: black;
    font-family: cursive;
}
section ol h3{
    color: gold;
}
section ol{
    border: 5px solid goldenrod;
    padding: 50px;
    background-color: black;
    margin: 2%;
    font-size: 25px;
    border-radius: 30px;
}
section ol li{
    padding-left: 10px;
    font-family: cursive;
}
section ol div i{
    margin: 5px;
    font-size: 100px;
}
#elemento1{
    color: red;
}
#elemento2{
    color: greenyellow;
}
#elemento3{
    color: gold;
}
#elemento4{
    color: blueviolet;
}
#elemento5{
    color: orangered;
}
section aside{
    text-align: center;
    color: gold;
    border: 5px solid goldenrod;
    margin: 20px;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
section aside img{
    width: 50%;
}
#div_boton{
    text-align: center;
    margin: 50px;
}
section a{
    text-align: center;
    padding: 20px;
    background-color: gold;
    border: 2px solid gold;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    height: 10px;
    font-family: cursive;
}
nav{
    padding: 10px;
    margin: 30px;
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
    border: 10px solid goldenrod;
}
#navegacion{
    color: goldenrod;
    padding-left: 30%;
    padding-right: 30%;
}
a{
    color: gold;
}
#titulo_nav{
    text-align: center;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    background-color: goldenrod;
    font-family: cursive;
}
footer{
    color: gold;
    text-align: right;
    background-color: black;
    padding: 5px;
    border-top: 5px solid goldenrod;
}